.field { margin: 0pt 0pt 1.5em; }
.form label { display: block; }
.form .text_field input, .form .text_field input.title, .form .password_field input, .form.password_field input.title { background-color: #fff; width: 300px; margin: 0.5em 0.5em 0.5em 0; border: 1px solid #bbb; padding: 5px; }
.form .text_field input:focus, .form .password_field input:focus { border: 1px solid #999; }
.form .text_field input.title, .form .password_field input.title { font-size: 1.5em; }
.form .text_area textarea {width:100%;}
.form .time select, .form .date select { width: none; }
.form .radio_buttons .option-label { display: inline; font-weight: normal; }
.form .radio-group .radio-option { display: inline; font-weight: normal; }
.field label.check_box { display: inline; vertical-align: 2px; }
.form .withErrors input, .form.withErrors textarea, .form.withErrors select { border: 2px solid red !important; margin-bottom: 0; }
.form .error {background-color:#ff0000;padding:0px 0 0 0;margin-top:1em;margin-bottom:1em;border:none;}
.form .buttons {text-align:left;}