@charset "UTF-8";
/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS framework
 * (en) IE patch stylesheet 
 * (de) IE-Anpassungs-Stylesheet
 *
 * @creator     YAML Builder V1.0.1 (http://builder.yaml.de)
 * @file        patch_my_layout.css
 */

/* Layout independent adjustments | Layout-unabh?ngige Anpassungen  */
@import url(../../yaml/core/iehacks.css);

/* Layout-dependent adjustments | Layout-abh?ngige Anpassungen */
@media screen, projection
{
 /**
  * Bugfix for IE 3-Pixel-Jog Bug
  *
  * @bugfix
  * @affected   IE 5.x/Win, IE6
  * @css-for    IE 5.x/Win, IE6
  * @valid      yes
  */

  * html #col3 {height: 1%}
  * html #col1 {margin-right: -3px}
  * html #col3 {margin-left: 24%}

 /**
  * min-width/max-width workaround for IE
  *
  * @workaround
  * @affected   IE 5.x/Win, IE6
  * @css-for    IE 5.x/Win, IE6
  * @valid      no
  */

  * html #page_margins {
    /* Fallback if JavaScript is disabled */
    width: auto;

    /* JS-Expression for min-/max-width simulation */
    width: expression((document.documentElement && document.documentElement.clientHeight) ? ((document.documentElement.clientWidth < 740) ? "740px" : ((document.documentElement.clientWidth > (90 * 16 * (parseInt(this.parentNode.currentStyle.fontSize) / 100))) ? "90em" : "auto" )) : ((document.body.clientWidth < 740) ? "740px" : ((document.body.clientWidth > (90 * 16 * (parseInt(this.parentNode.currentStyle.fontSize) / 100))) ? "90em" : "auto" )));
  }
}
