{{extend "develop_layout.html"}}
{{block nav_menu}}
{{from uliweb.contrib.develop.menu import menu}}
{{<< menu("View Global")}}
{{end}}
{{block content}}
<p>This page will display all available objects which can be used in a view function.</p>
<div>
<table>
    <tbody>
        <tr><th>Global</th><th> Value</th></tr>
        {{for key,value in glo.items():}}
        <tr><th>{{=key}}</th> 
        <td>
        {{from uliweb.utils.textconvert import text2html}}
        {{<<text2html(str(value))}}
        </td>
        </tr>
        {{pass}}
    </tbody>
</table>
